@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
$font-family-sans-serif: 'Noto Sans' !default;
$primary: #efa00b;
$secondary: #00a5ac;
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

@include media-breakpoint-only(xs) {
  .btn-block-xs-only {
    display: block;
    width: 100%;
  }
}
